.about {
    font-family: 'AvenirNextBold';
    padding: 0 16px;

    &__header {
        font-size: 24px;
        line-height: 32px;
        margin: 32px 0 24px;
    }

    &__img {
        width: 100%;
        min-height: auto;
    }

    &__quote {
        font-family: 'AvenirNextMedium';
        font-size: 14px;
        line-height: 22px;
    }

    &__name {
        font-family: 'AvenirNextRegular';
        font-size: 14px;
        padding: 32px, 0, 40px, 0;

    }
    
    &__band {
        font-family: 'AvenirNextMedium';
        font-size: 24px;
    }
}

.content {
    font-family: 'AvenirNextRegular';
    font-size: 13px;
    line-height: 18px;
}

.content.bottom {
    margin-bottom: 40px;
}

/* ----- Media Queries: Tablet */

@media all and (min-width: 768px) {
    .about {
        padding: 0 3.125%;

        &__header {
            font-size: 35px;
            margin: 44px 0 32px;
        }

        &__quote {
            font-family: 'AvenirNextBold';
            font-size: 26px;
            line-height: 38px;
        }

        &__name {
            font-family: 'AvenirNextRegular';
            font-size: 18px;
            line-height: 38px;
            padding-bottom: 30px;
        }

        &__band {
            font-family: 'AvenirNextBold';
            font-size: 24px;
        }

    }

    .container {
        display: flex;
  }

    .container .content {
        font-family:'AvenirNextRegular';
        padding-right: 3.125%;
        font-size: 16px;
        line-height: 1.5;
        }
    
    .container .content.bottom {
        padding-right: 0;
    }
}

/* ----- Media Queries: Desktop */

@media all and (min-width: 1440px) {
    
}