.gallery {
  padding: 0 16px;

  &__photo {
    width: 100%;
    height: 162px;
  }
  &__header {
    font-family: "AvenirNextBold";
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
  }

  &__photo {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }
}
