.hero * {
    margin: 0;
}

.hero {
    &__image {
        background-image: url('../assets/images/hero.jpg');
        width: 100vw;
        height: 183px;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
    }

    &__text {
        color: $white;
        font-family: 'AvenirNextBold';
        font-size: 20px;
        line-height: 1.5;
        padding-left: 5%;
        display: block;
        width: 60%;
    }  
}

 
/* ----- Media Queries: Tablet ----- */

@media all and (min-width: 768px) {
    .hero {
        // display: flex;

        &__image {
            height: 400px;
        }

        &__text {
            font-size: 46px;
            padding-left: unset;
            margin-left: 3.125%;
            width: 55%;
        }
    }
}

/* ----- Media Queries: Desktop */

@media all and (min-width: 1440px) {
     .hero {

        &__image {
            height: 670px;
        }

        &__text {
            display: block;
            width: 40%;
            padding: unset;
            font-size: 65px;
            margin-left: 12.5%;
        }
    }
}

