html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "AvenirNextRegular";
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@font-face {
  font-family: 'AvenirNextRegular';
  src: url(../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: 'AvenirNextMedium';
  src: url(../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Medium.otf);
}

@font-face {
  font-family: 'AvenirNextBold';
  src: url(../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf);
}

.header {
  background-color: #323232;
  height: 80px;
}

.header__image {
  padding-top: 16px;
  display: block;
  margin: 0 auto;
}

.header__nav-menu {
  margin: unset;
  margin-top: 10px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__nav-menu .test {
  width: 50%;
  text-align: center;
}

.header__nav-menu-item {
  list-style: none;
  width: 50%;
  text-align: center;
}

.header__nav-menu-item-biography {
  text-align: center;
  border-bottom: 4px solid #FFFFFF;
  width: 50%;
  padding-bottom: 6px;
}

.header__nav-menu .primary {
  padding: 0;
  color: #afafaf;
}

ul {
  padding: 0px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "AvenirNextRegular";
}

/* ----- Media Queries: Tablet */
@media all and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__image {
    padding: unset;
    margin: unset;
    margin-left: 3.125%;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 50px;
    padding-top: 20px;
  }
  .header__nav-menu-item-biography {
    padding-bottom: unset;
  }
  .header__nav-menu-item-show {
    padding-left: 30px;
  }
  .active {
    padding-bottom: 25px;
    border-bottom: 5px solid white;
  }
}

/* ----- Media Queries: Desktop */
@media all and (min-width: 1440px) {
  .header {
    padding: 0 12.5%;
  }
  .header__nav {
    margin-left: 56px;
  }
  .header__image {
    margin: 0;
  }
  .hero .hero__text {
    padding-left: unset;
    margin-left: 0.125%;
  }
}

.footer {
  color: #FFFFFF;
  background-color: #323232;
  font-family: "AvenirNextBold";
}

.footer__heading {
  font-size: 40px;
  margin: 0;
  padding: 40px 0 30px 12px;
}

.footer__social {
  padding-left: 16px;
  display: inline-block;
  width: 60%;
}

.footer__social-icon {
  padding-right: 30px;
}

.representative {
  font-family: "AvenirNextMedium";
  font-size: 14px;
  line-height: 22px;
  padding-left: 12px;
  font-weight: bolder;
}

.representative__address, .representative__email {
  font-family: "AvenirNextRegular";
  padding-left: 12px;
  font-size: 13px;
  line-height: 18px;
}

.representative__email {
  padding-bottom: 18px;
}

.copyright {
  font-family: "AvenirNextRegular";
  font-size: 13px;
  line-height: 18px;
  padding: 20px 0 50px 12px;
}

.hero * {
  margin: 0;
}

.hero__image {
  background-image: url("../assets/images/hero.jpg");
  position: relative;
  width: 100vw;
  height: 183px;
  background-position: center;
  background-size: cover;
}

.hero__text {
  color: #FFFFFF;
  font-family: 'AvenirNextBold';
  font-size: 24px;
  line-height: 32px;
  position: absolute;
  top: 30%;
  padding-left: 5%;
}

/* ----- Media Queries: Tablet */
@media all and (min-width: 768px) {
  .hero__text {
    padding-left: 3.125%;
  }
}

/* ----- Media Queries: Desktop */
@media all and (min-width: 1440px) {
  .hero__text {
    padding-left: 12.5%;
  }
}

.about {
  font-family: 'AvenirNextBold';
  padding: 0 16px;
}

.about__header {
  font-size: 24px;
  line-height: 32px;
  margin: 32px 0 24px;
}

.about__img {
  width: 100%;
  min-height: auto;
}

.about__quote {
  font-family: 'AvenirNextMedium';
  font-size: 14px;
  line-height: 22px;
}

.about__name {
  font-family: 'AvenirNextRegular';
  font-size: 14px;
  padding: 32px, 0, 40px, 0;
}

.about__band {
  font-family: 'AvenirNextMedium';
  font-size: 24px;
}

.content {
  font-family: 'AvenirNextRegular';
  font-size: 13px;
  line-height: 18px;
}

.content.bottom {
  margin-bottom: 40px;
}

/* ----- Media Queries: Tablet */
@media all and (min-width: 768px) {
  .about {
    padding: 0 3.125%;
  }
  .about__header {
    font-size: 35px;
    margin: 44px 0 32px;
  }
  .about__quote {
    font-family: 'AvenirNextBold';
    font-size: 26px;
    line-height: 38px;
  }
  .about__name {
    font-family: 'AvenirNextRegular';
    font-size: 18px;
    line-height: 38px;
    padding-bottom: 30px;
  }
  .about__band {
    font-family: 'AvenirNextBold';
    font-size: 24px;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .content {
    font-family: 'AvenirNextRegular';
    padding-right: 3.125%;
    font-size: 16px;
    line-height: 1.5;
  }
  .container .content.bottom {
    padding-right: 0;
  }
}

/* ----- Media Queries: Desktop */
.gallery {
  padding: 0 16px;
}

.gallery__photo {
  width: 100%;
  height: 162px;
}

.gallery__header {
  font-family: "AvenirNextBold";
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
}

.gallery__photo {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.footer {
  color: #FFFFFF;
  background-color: #323232;
  font-family: "AvenirNextBold";
}

.footer__heading {
  font-size: 40px;
  margin: 0;
  padding: 40px 0 30px 12px;
}

.footer__social {
  padding-left: 16px;
  display: inline-block;
  width: 60%;
}

.footer__social-icon {
  padding-right: 30px;
}

.representative {
  font-family: "AvenirNextMedium";
  font-size: 14px;
  line-height: 22px;
  padding-left: 12px;
  font-weight: bolder;
}

.representative__address, .representative__email {
  font-family: "AvenirNextRegular";
  padding-left: 12px;
  font-size: 13px;
  line-height: 18px;
}

.representative__email {
  padding-bottom: 18px;
}

.copyright {
  font-family: "AvenirNextRegular";
  font-size: 13px;
  line-height: 18px;
  padding: 20px 0 50px 12px;
}
/*# sourceMappingURL=main.css.map */