html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "AvenirNextRegular";
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@import "./partials/breakpoints";
@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/header";
@import "./partials/hero";
@import "./partials/about";
@import "./partials/gallery";
@import "./partials/footer";
