.header {
  background-color: $black;
  width: 100vw;
  height: 80px;

  &__image {
    padding: 15px 0 12.5px;
    display: block;
    margin: 0 auto;
  }

  &__nav-menu {
    margin: unset;
    list-style: none;
    display: flex;
    justify-content: space-around;

    .test {
    width: 50%;
    text-align: center;
    }

    &-item-biography.test {
      border-bottom: 4px solid $white;
      width: 50%;
      padding-bottom: 5px;
    }
  }

  &__nav-menu .primary {
    color: $silver;
  }


ul {
  padding: 0px;
}

a {
  text-decoration: none;
  color: $white;
  font-family: "AvenirNextRegular";
}

/* ----- Media Queries: Tablet ----- */

@include medium  {
  .header {
    display: flex;
    align-items: center;
    
    &__image {
      margin: 24px;
    }

    &__nav {
      display:flex;
      align-items: center;

    &-menu-item-show {
        // color: $white;
        // border-bottom: 4px solid $white;
        margin-left: 30px;
      }
      
      &-menu-item-biography.test {
        padding-bottom: 15px;
      }
    }
  }
}


/* ----- Media Queries: Desktop */

@include large {
  .header {
    display: flex;

    &__image {
      margin:unset;
      margin-left: 12.5%;
      margin-right: 3.89%;
    }

    &__nav-menu {
      margin-left: 50px;
    }
  }
}
}