@font-face {
  font-family: 'AvenirNextRegular';
  src: url(../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: 'AvenirNextMedium';
  src: url(../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Medium.otf);
}

@font-face {
  font-family: 'AvenirNextBold';
  src: url(../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf);
}

.header {
  background-color: #323232;
  width: 100vw;
  height: 80px;
}

.header__image {
  padding: 12px 0 16px;
  display: block;
  margin: 0 auto;
}

.header__nav-menu {
  margin: unset;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__nav-menu .test {
  width: 50%;
  text-align: center;
}

.header__nav-menu-item-biography {
  border-bottom: 4px solid #FFFFFF;
  width: 50%;
  padding-bottom: 5px;
}

.header__nav-menu .primary {
  color: #afafaf;
}

ul {
  padding: 0px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "AvenirNextRegular";
}

/* ----- Media Queries: Tablet ----- */
@media only screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__image {
    padding: unset;
    margin: unset;
    padding-left: 3.125%;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 50px;
    padding-top: 28px;
  }
  .header__nav-menu-item-show {
    padding-left: 30px;
  }
  .header-menu-item-biography {
    padding-bottom: unset;
  }
}

/* ----- Media Queries: Desktop */
@media only screen and (min-width: 1440px) {
  .header__nav {
    margin-left: 56px;
  }
  .header__image {
    padding-left: unset;
    padding-left: 12.5%;
  }
}

.hero * {
  margin: 0;
}

.hero__image {
  background-image: url("../assets/images/hero.jpg");
  width: 100vw;
  height: 57.19vw;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__text {
  color: #FFFFFF;
  font-family: 'AvenirNextBold';
  font-size: 28px;
  line-height: 1.5;
  padding-left: 5%;
  display: block;
  width: 278vw;
}

/* ----- Media Queries: Tablet ----- */
@media only screen and (min-width: 768px) {
  .hero__image {
    height: 52.08vw;
  }
  .hero__text {
    font-size: 46px;
    padding-left: unset;
    margin-left: 3.125%;
    width: 55%;
  }
}

/* ----- Media Queries: Desktop */
@media only screen and (min-width: 1440px) {
  .hero__image {
    height: 46.53vw;
  }
  .hero__text {
    display: block;
    width: 40%;
    padding: unset;
    font-size: 65px;
    margin-left: 12.5%;
  }
}

.about {
  font-family: 'AvenirNextBold';
  padding-left: 5%;
  padding-right: 5%;
}

.about__header {
  display: inline-block;
  font-size: 24px;
  line-height: 32px;
}

.about__img {
  width: 100%;
  height: auto;
}

.about__quote {
  margin: 0;
  padding: 24px 0 32px 0;
  font-family: 'AvenirNextMedium';
  font-size: 12px;
  line-height: 20px;
}

.about__name {
  margin: 0;
  padding-bottom: 40px;
  font-family: 'AvenirNextMedium';
  font-size: 11px;
}

.about__band {
  margin: 0;
  padding-bottom: 24px;
  font-family: 'AvenirNextMedium';
  font-size: 16px;
}

.content {
  margin: 0 0 20px 0;
  font-family: 'AvenirNextRegular';
  font-size: 13px;
  line-height: 18px;
}

.content.bottom {
  margin-bottom: 0;
  padding-bottom: 40px;
}

/* ----- Media Queries: Tablet */
@media only screen and (min-width: 768px) {
  .about {
    padding: 0 3.125%;
  }
  .about__header {
    font-size: 35px;
    margin: 44px 0 32px;
  }
  .about__img {
    height: 47.14vw;
    padding-right: unset;
  }
  .about__quote {
    font-family: 'AvenirNextBold';
    font-size: 26px;
    line-height: 38px;
    padding-top: 32px;
  }
  .about__name {
    font-family: 'AvenirNextRegular';
    font-size: 22px;
    line-height: 38px;
  }
  .about__band {
    font-family: 'AvenirNextBold';
    font-size: 24px;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .content {
    font-family: 'AvenirNextRegular';
    padding-right: 3.125%;
    font-size: 16px;
    line-height: 1.5;
  }
  .container .content.bottom {
    padding-right: 0;
  }
}

/* ----- Media Queries: Desktop ----- */
@media only screen and (min-width: 1440px) {
  .about {
    padding: unset;
  }
  .about__header {
    font-size: 38px;
    margin: 48px 0 48px 12.5%;
  }
  .about__img {
    height: 31.25vw;
    width: 62.22%;
    margin: 0 18.89% 48px 18.9%;
  }
  .about__quote {
    padding: 0 18.9% 40px 18.9%;
    font-size: 26px;
  }
  .about__name {
    font-size: 18px;
    line-height: 38px;
    padding: 0 18.9% 56px 18.9%;
  }
  .about__band {
    font-family: 'AvenirNextBold';
    font-size: 24px;
    padding: 0 18.9% 32px 18.9%;
  }
  .about .container .content {
    font-family: 'AvenirNextRegular';
    padding: 0 20px 48px 18.9%;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
  }
  .about .container .content.bottom {
    font-family: 'AvenirNextRegular';
    padding: 0 18.9% 48px 20px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.gallery {
  padding: 0 5%;
  background-color: #FAFAFA;
}

.gallery__header {
  font-family: "AvenirNextBold";
  font-size: 24px;
  margin: 0;
  padding: 32px 0 24px 0;
}

.gallery__photo {
  width: 100%;
  padding-bottom: 16px;
}

.gallery__photo.last {
  padding-bottom: 40px;
}

/* ----- Media Queries: Tablet ----- */
@media only screen and (min-width: 768px) {
  .gallery {
    padding: 0 3.125%;
  }
  .gallery__header {
    font-size: 32px;
  }
  .gallery__photo {
    width: 29.1667%;
    height: 16.41vw;
    padding: 24px;
  }
  .gallery__photo.last {
    padding-bottom: 16px;
  }
  .gallery__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 30px;
  }
}

@media only screen and (min-width: 1440px) {
  .gallery {
    padding: 0 12.5%;
  }
  .gallery__header {
    padding: 48px 0 64px;
    font-size: 38px;
    line-height: 44px;
  }
  .gallery__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallery__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 23.89vw;
    height: 13.4vw;
  }
}

.convo {
  padding: 32px 5%;
}

.convo .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.convo__header {
  font-family: 'AvenirNextBold';
  font-size: 24px;
  padding-bottom: 40px;
  margin-bottom: 0;
}

.convo__form {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.convo input {
  margin-bottom: 15px;
  border: 1px solid #e1e1e1;
  background-color: #FAFAFA;
  border-radius: 5px;
  padding: 8px;
}

.convo__label {
  color: #e1e1e1;
}

.convo__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.convo .name-box {
  width: 65vw;
  height: 40px;
  border-color: 2px solid #323232;
}

.convo .comment-box {
  margin-bottom: 24px;
  height: 100px;
  width: 65vw;
}

.convo #display-comments {
  margin: 0 5%;
}

.convo .comment-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.convo h6 {
  font-family: 'AvenirNextMedium';
  padding-bottom: 4px;
  color: #AFAFAF;
  text-transform: uppercase;
  font-weight: bolder;
  margin: unset;
}

.convo .avatar-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.convo .avatar {
  width: 20vw;
  height: 20vw;
  border-radius: 100vw;
}

.convo .submit {
  font-size: 16px;
  text-align: center;
  border: none;
  padding: 0 10px;
  display: block;
  height: 48px;
  background-color: #323232;
  border-radius: 5px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
}

/* ---------- Comment Section ---------- */
.button {
  margin-top: 24px;
  background-color: #e1e1e1;
  width: 200px;
  height: 45px;
  border-radius: 100%;
}

.mainContentDiv {
  padding-left: 10px;
}

.comment-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.comment-name {
  font-family: 'AvenirNextMedium';
  font-size: 15px;
}

.comment-date {
  padding-left: 40px;
  font-family: 'AvenirNextRegular';
  color: #AFAFAF;
  font-size: 15px;
}

.comment-row {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5%;
  font-family: 'AvenirNextRegular';
  font-size: 14px;
  border-top: 1px solid #AFAFAF;
}

.comment-row .mainContentDiv {
  padding-left: 20px;
}

.comment-row-heading {
  font-size: px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

p {
  line-height: 25px;
  margin-bottom: 24px;
}

/* ---------- Media Queries: Tablet ---------- */
@media only screen and (min-width: 768px) {
  #display-comments {
    margin-top: 40px;
    padding: 0 16.15%;
  }
  .convo {
    padding: unset;
  }
  .convo__header {
    padding-left: 3.125%;
  }
  .convo .container {
    padding: 0 16.15%;
  }
  .convo .name-box, .convo .comment-box {
    width: 58.5vw;
  }
  .convo .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .convo .submit {
    width: 33%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .comment-row {
    margin: 0;
  }
  .button {
    width: 100px;
  }
}

/* ----- Media Queries: Desktop ----- */
@media only screen and (min-width: 1440px) {
  .convo__header {
    margin-top: 40px;
  }
  .convo .submit {
    width: 25%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .button {
    width: 50px;
  }
}

.header__shows {
  background-color: #323232;
  width: 100vw;
  height: 80px;
}

.header__shows-image {
  padding: 15px 0 12.5px 16px;
  display: block;
  margin: 0 auto;
}

.header__shows-nav-menu {
  color: #FFFFFF;
  margin: unset;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__shows-nav-menu-item-biography {
  color: #AFAFAF;
  width: 50%;
  text-align: center;
}

.header__shows-nav-menu-item-show {
  border-bottom: 4px solid #FFFFFF;
  padding-bottom: 5px;
  width: 50%;
  text-align: center;
}

.shows-primary {
  color: #AFAFAF;
  text-decoration: none;
}

/* ----- Hero Section for Shows Page----- */
.hero-shows {
  color: #FFFFFF;
  font-family: 'AvenirNextMedium';
  padding: 0;
}

.hero-shows__image {
  background-image: url("../assets/images/show-hero.jpg");
  height: 147.75vw;
  width: 100vw;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.hero-shows__header {
  font-family: 'AvenirNextMedium';
  font-weight: bold;
  margin-left: 0;
  padding: 64px 0 0 5%;
}

.hero-shows__text {
  font-family: 'AvenirNextBold';
  margin-left: 0;
  padding: 25px 0 64px 5%;
  font-size: 24px;
  line-height: 1.5;
  width: 90%;
}

.hero-shows iframe {
  position: absolute;
  width: 90vw;
  height: 12vh;
  top: 88vw;
  margin: 0 16px;
}

/* ----- Hero Section for Shows Page ----- */
.shows__container {
  padding: 5%;
}

.shows__heading {
  font-family: 'AvenirNextBold';
  font-size: 30px;
}

.header-tablet {
  display: none;
}

.date-key, .venue-key, .location-key, .location-key {
  color: #AFAFAF;
  font-size: 20px;
  font-family: 'AvenirNextMedium';
  text-transform: uppercase;
  margin: 0;
}

.date-value {
  font-family: 'AvenirNextMedium';
}

.date-value, .location-value, .venue-value {
  font-size: 18px;
  padding: 16px 0 32px 0;
  margin: 0;
}

.tickets-button {
  width: 90vw;
  height: 48px;
  background-color: #323232;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'AvenirNextMedium';
  margin-bottom: 45px;
  border-radius: 5px;
  border: none;
}

.copyright {
  display: block;
  width: 180%;
}

/* ----- Media Queries: Tablet ----- */
@media only screen and (min-width: 768px) {
  .header__shows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 3.125vw;
  }
  .header__shows-nav-menu {
    color: #FFFFFF;
    padding-left: 12.5vw;
    list-style: none;
  }
  .header__shows-nav-menu-item-show {
    padding-left: 8vw;
    border-bottom: none;
    padding-bottom: 0;
  }
}

.hero-shows__image {
  height: 87.2396vw;
}

.hero-shows__header {
  font-family: 'AvenirNextMedium';
  font-size: 26px;
  font-weight: bold;
  margin-left: 0;
  padding: 96px 0 0 5vw;
}

.hero-shows__text {
  font-family: 'AvenirNextBold';
  margin-left: 0;
  padding: 25px 0 64px 5vw;
  font-size: 58px;
  line-height: 1.5;
  width: 80%;
}

.hero-shows iframe {
  position: absolute;
  width: 50vw;
  height: 13vh;
  top: 68vw;
  margin: 0 5vw;
}

.date-key, .venue-key, .location-key, .location-key {
  display: none;
}

.header-tablet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  color: #AFAFAF;
  width: 57vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shows__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 45px;
  border-bottom: 1.5px solid #e1e1e1;
}

.tickets-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 17vw;
  height: 48px;
  background-color: #323232;
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'AvenirNextMedium';
  margin-bottom: 45px;
  border-radius: 5px;
  border: none;
}

.venue-value, .location-value {
  font-family: 'AvenirNextRegular';
  font-size: 13px;
  padding-bottom: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.date-value {
  padding-bottom: 0;
  font-size: 14px;
}

/* ----- Media Queries: Desktop */
@media only screen and (min-width: 1440px) {
  .header__shows {
    padding: unset;
    padding-left: 12.5vw;
  }
  .header__shows-nav-menu {
    margin: unset;
  }
  .header__shows-image {
    padding: unset;
  }
  .hero-shows__header {
    font-size: 22px;
    padding: unset;
    margin: 160px 0 48px;
  }
  .hero-shows__text {
    margin: unset;
    padding: unset;
    font-size: 48px;
    line-height: 1.5;
    width: 32vw;
  }
  .hero-shows__image {
    height: 46.53vw;
    padding: 15px 0 12.5px 12.5VW;
  }
  .hero-shows iframe {
    position: absolute;
    width: 30vw;
    height: 13.4vh;
    top: 25.5vw;
    right: 4vw;
  }
  .shows__container {
    padding: 0 12.5vw;
  }
  .shows__heading {
    margin-top: 48px;
    display: block;
    width: 10vw;
  }
  .header-tablet {
    width: 50%;
  }
  /* ----- Footer Section for Shows ----- */
  .footer {
    padding: unset;
  }
  .footer .copyright {
    width: 70vw;
    line-height: 2;
  }
}

.footer {
  color: #FFFFFF;
  background-color: #323232;
  font-family: "AvenirNextBold";
  padding: 0 5%;
}

.footer__heading {
  font-size: 30px;
  padding: 40px 0 30px 2%;
}

.footer__logo {
  display: none;
}

.footer__social {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 5%;
  padding-bottom: 20px;
}

.representative {
  font-family: "AvenirNextMedium";
  font-size: 14px;
  line-height: 22px;
  padding-left: 2%;
  font-weight: bolder;
}

.representative__address, .representative__email {
  font-family: "AvenirNextRegular";
  padding-left: 2%;
  font-size: 13px;
  line-height: 18px;
}

.representative__email {
  padding-bottom: 18px;
}

.copyright {
  display: inline-block;
  width: 20vw;
  font-family: "AvenirNextRegular";
  font-size: 13px;
  line-height: 18px;
  padding: 20px 0 50px 2%;
}

/* ----- Media Queries: Tablet ----- */
@media only screen and (min-width: 768px) {
  .footer .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__heading {
    font-size: 30px;
    padding-left: unset;
  }
  .footer__social {
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 26vw;
    padding: unset;
    padding-right: 70px;
  }
  .footer__logo {
    display: unset;
  }
  .footer .person-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .person {
    display: inline-block;
    width: 35vw;
  }
  .copyright {
    width: unset;
    padding: 0 0 40px;
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    padding: 0 12.5%;
  }
  .footer__social {
    display: inline-block;
    width: 43vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 440px;
  }
  .footer .person-wrap {
    width: 70%;
  }
  .footer .person {
    display: inline-block;
    width: 400vw;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "AvenirNextRegular";
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
/*# sourceMappingURL=main.css.map */